.menu-ayudar a {
  min-width: 250px;
  margin-top: 4px;
}

.header {
  padding-bottom: 20px;
}

.twitter-timeline {
/*  width: 1000px !important;*/
}

div.inline-media {
  text-align: center;
}

.footer {
  margin-top: 30px;
}

.social-image {
  max-width: 130px;
}
.social-image:hover {
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}

@media (min-width: 768px) {
  .social-image {
    max-width: none;
  }
}

.lead.lead-text {
  font-size: 18px;
}

.select-control.bloodGroup {
  padding-left: 0;
}

.select-control.bloodFactor {
  padding-right: 0;
}

.select-control .glyphicon {
  right: 10px;
}