.header {
  padding-bottom: 20px;
}

.twitter-timeline {
/*  width: 1000px !important;*/
}

div.inline-media {
  text-align: center;
}

.footer {
  margin-top: 30px;
}

.social-image:hover {
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
}