<div class="container not-front">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img class="img-responsive" src="files/images/empresa/empresa1.jpg">
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img class="img-responsive" src="files/images/empresa/empresa2.jpg">
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img class="img-responsive" src="files/images/empresa/empresa3.jpg">
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			<img class="img-responsive" src="files/images/empresa/empresa4.jpg">
		</div>
	</div>
    <div class="content">
        <div class="content-box blog-post col-md-12 col-sm-12 col-xs-12">
          <h2 class="blog-post-title">Nuestra historia</h2>
          <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a lectus risus. Nam nec interdum ligula. Suspendisse ac ultrices mauris, id bibendum lectus. Vivamus id odio eget metus interdum luctus. Sed convallis vehicula convallis. Donec molestie mollis sapien, nec porttitor mauris accumsan ac. Mauris vitae hendrerit velit. Mauris dapibus sodales suscipit. Morbi lacinia, orci in dapibus cursus, lectus urna semper massa, nec porta neque turpis ut tortor. Fusce at ligula vitae orci rhoncus rutrum id id elit. Mauris cursus a nisi facilisis venenatis. Nam id neque eu nisl consequat tempus ut ac massa.
          </p>
          <p class="text-justify">
            Suspendisse potenti. Maecenas at leo sit amet velit feugiat iaculis sed a lorem. Vivamus a metus dolor. Aliquam finibus velit id lorem finibus, ac fermentum purus consectetur. Aenean finibus iaculis ante auctor efficitur. Etiam in rutrum justo. Nam finibus venenatis ante quis dignissim. Curabitur venenatis lectus arcu, interdum scelerisque odio aliquam ut. Donec at ligula fermentum, bibendum urna vitae, sagittis eros. Etiam et elementum diam. Maecenas viverra efficitur gravida. Donec efficitur orci nisl, non auctor tellus lobortis non. Fusce vel feugiat sapien, non malesuada mi.
          </p>
        </div>
  	</div>
</div>